<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="p2_projekt.HarborStatus" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <p2_projekt.HarborStatus>
      <setting name="space9001" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="space9002" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="space9003" serializeAs="String">
        <value>2</value>
      </setting>
    </p2_projekt.HarborStatus>
  </userSettings>

  <connectionStrings>
    <add name="LobopContext"
         connectionString='Data Source=(LocalDB)\v11.0;AttachDbFilename="|DataDirectory|\lobopDB.mdf";Integrated Security=True; MultipleActiveResultSets=True'
         providerName="System.Data.SqlClient" />
    
  </connectionStrings>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>